In [11]:
import numpy as np
import pandas as pd
import xgboost as xgb
from sklearn.metrics import mean_squared_error
import utils as u

# Mute sklearn warnings
from warnings import simplefilter
simplefilter(action='ignore', category=FutureWarning)
simplefilter(action='ignore', category=DeprecationWarning)

In [12]:
#Read the dataset:
df = pd.read_csv("NSE-TATA.csv")
df['Date'] = pd.to_datetime(df['Date'])

df = df.sort_index(ascending=True,axis=0)
df.head()

# #Read the dataset:
# df=pd.read_csv("NSE-TATA.csv")
# df['Date'] = pd.to_datetime(df['Date'], format = "%Y-%m-%d")
# df.sort_values(by=["Date"], inplace=True, ignore_index=True)
# df = df.sort_index(ascending=True,axis=0)
# # df.head()
# print(df)

,Date,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)
0,2018-10-08,208.00,222.25,206.85,216.00,215.15,4642146.0,10062.83
1,2018-10-05,217.00,218.60,205.90,210.25,209.20,3519515.0,7407.06
2,2018-10-04,223.50,227.80,216.15,217.25,218.20,1728786.0,3815.79
3,2018-10-03,230.00,237.50,225.75,226.45,227.60,1708590.0,3960.27
4,2018-10-01,234.55,234.60,221.05,230.30,230.90,1534749.0,3486.05

In [13]:
x_train, y_train, x_test, y_test, x_valid, y_valid = u.XGBoost_preprocessing_data(df)

In [14]:
x_train

,Last,Total Trade Quantity,Turnover (Lacs),EMA_9,SMA_5,SMA_10,SMA_15,SMA_30,RSI,MACD,MACD_signal
0,240.35,2551480.0,6106.81,234.516141,239.03,237.040,233.146667,232.070000,67.562380,2.972355,2.264203
1,237.40,1885288.0,4459.96,235.013356,240.70,237.545,234.240000,232.461667,64.414843,2.783898,2.380645
2,235.20,1948583.0,4573.57,235.273533,241.12,237.700,235.340000,232.683333,60.000000,2.378829,2.380248
3,233.65,2035594.0,4757.48,235.199512,239.92,237.700,236.150000,232.710000,46.272189,1.959018,2.289785
4,237.25,1127248.0,2676.63,235.031147,237.60,237.720,236.806667,232.720000,53.440367,1.892395,2.205684
...,...,...,...,...,...,...,...,...,...,...,...
836,152.10,843471.0,1273.34,151.589055,155.49,155.670,152.526667,148.171667,64.576803,2.823668,3.283414
837,151.00,575050.0,867.44,151.575150,153.48,155.795,153.160000,148.355000,57.090239,2.463249,3.119381
838,148.85,1383972.0,2073.89,151.527635,151.46,155.580,153.756667,148.473333,47.358491,1.969322,2.889369
839,150.25,818899.0,1214.30,151.254871,150.81,154.705,153.860000,148.501667,50.185874,1.635684,2.638632
840,145.75,2099157.0,3052.80,151.104384,150.44,153.750,153.830000,148.580000,42.668863,1.036558,2.318217

In [6]:
x_test

,Last,Total Trade Quantity,Turnover (Lacs),EMA_9,SMA_5,SMA_10,SMA_15,SMA_30,RSI,MACD,MACD_signal
1021,325.95,14484043.0,46643.39,306.252790,314.65,313.715,310.543333,298.976667,76.806527,10.447201,11.042738
1022,323.70,4519030.0,14701.51,308.202511,317.21,314.650,312.250000,300.265000,70.082450,10.455190,10.925229
1023,317.60,4683847.0,14922.72,309.682260,318.29,315.660,313.600000,301.580000,61.151079,9.815807,10.703344
1024,314.05,3742677.0,11717.46,310.354034,318.51,316.185,314.296667,302.825000,56.888008,8.975654,10.357806
1025,304.50,3408593.0,10502.65,310.673630,318.40,316.420,314.830000,303.945000,38.769231,7.568974,9.800040
...,...,...,...,...,...,...,...,...,...,...,...
1196,233.50,3069914.0,7162.35,232.450159,234.30,233.465,229.270000,232.710000,66.323907,-0.515408,-1.708757
1197,230.30,1534749.0,3486.05,232.580143,234.13,234.575,230.026667,232.683333,59.974906,-0.625160,-1.492038
1198,226.45,1708590.0,3960.27,232.412129,233.65,234.270,230.683333,232.461667,56.635071,-0.967272,-1.387084
1199,217.25,1728786.0,3815.79,231.930916,231.95,233.370,230.993333,232.070000,52.412281,-1.974143,-1.504496
1200,210.25,3519515.0,7407.06,230.557824,228.74,231.685,230.740000,231.243333,35.974974,-3.458453,-1.895287

In [15]:
y_test

1021    172.75
1022    171.10
1023    167.80
1024    169.50
1025    167.30
         ...
1196    158.05
1197    159.45
1198    160.05
1199    160.15
1200    155.55
Name: Close, Length: 180, dtype: float64

In [16]:

#load & test
eval_set = [(x_train, y_train), (x_valid, y_valid)]
clf2 = u.load_model('XGBoost')
model2 = xgb.XGBRegressor(**clf2.best_params_, objective='reg:squarederror')
model2.fit(x_train, y_train, eval_set=eval_set, verbose=False)
## Calculate and visualize predictions
y_pred2 = model2.predict(x_test)
print(f'y_true = {np.array(y_test)[:5]}')
print(f'y_pred = {y_pred2[:5]}')

print(f'mean_squared_error = {mean_squared_error(y_test, y_pred2)}')

y_true = [172.75 171.1  167.8  169.5  167.3 ]
y_pred = [171.69734 170.81668 167.46431 169.0785  166.45747]
mean_squared_error = 0.3556815560792252

In [27]:
n_period_before = 10
price_of_change = y_pred2[10:]
print(y_pred2[0:20])
price_of_change[:10]
# index = 10
for i in range(0,len(price_of_change)):
    price_of_change[i]=(price_of_change[i]-y_pred2[i])/y_pred2[i]

price_of_change

[ 1.7169734e+02  1.7081668e+02  1.6746431e+02  1.6907851e+02
  1.6645747e+02  1.6783505e+02  1.6390854e+02  1.6379784e+02
  1.6384836e+02  1.6610838e+02 -3.2591395e-02 -4.1990981e-02
  7.4184453e-03 -9.3048932e-03  4.2350888e-02  1.8190987e-02
  4.2595033e-02 -5.8520466e-02 -7.0467815e-02 -9.5718667e-02]

array([-1.0001898e+00, -1.0002458e+00, -9.9995571e-01, -1.0000551e+00,
       -9.9974555e-01, -9.9989164e-01, -9.9974006e-01, -1.0003573e+00,
       -1.0004301e+00, -1.0005763e+00,  4.5267651e+03,  3.5522266e+03,
       -2.0013840e+04,  1.6840320e+04, -3.6932466e+03, -8.5955322e+03,
       -3.7036150e+03,  2.6699866e+03,  2.1556057e+03,  1.5994167e+03,
       -1.0002283e+00, -1.0002930e+00, -9.9995041e-01, -1.0000598e+00,
       -9.9974000e-01, -9.9988562e-01, -9.9974060e-01, -1.0003945e+00,
       -1.0004951e+00, -1.0006818e+00,  1.4207140e+02,  1.4242899e+02,
        1.5113260e+02,  1.4982814e+02,  1.5926616e+02,  1.5556856e+02,
        1.6282144e+02,  1.5021774e+02,  1.4704097e+02,  1.4454050e+02,
       -1.0144727e+00, -1.0144902e+00, -1.0132275e+00, -1.0134301e+00,
       -1.0123345e+00, -1.0126393e+00, -1.0118612e+00, -1.0133384e+00,
       -1.0138247e+00, -1.0142522e+00,  7.1930290e+01,  7.0846214e+01,
        6.9993462e+01,  6.9749283e+01,  7.2100319e+01,  7.1704742e+01,
        7.3620369e+01,  7.0870529e+01,  6.8393005e+01,  6.7801170e+01,
       -1.0408449e+00, -1.0416533e+00, -1.0425206e+00, -1.0434802e+00,
       -1.0412552e+00, -1.0411186e+00, -1.0393691e+00, -1.0417939e+00,
       -1.0439409e+00, -1.0446017e+00,  4.4263248e+01,  4.5507008e+01,
        4.5327644e+01,  4.4589943e+01,  4.6067020e+01,  4.6215343e+01,
        4.6899925e+01,  4.5550549e+01,  4.4839924e+01,  4.4016842e+01,
       -1.0902132e+00, -1.0863061e+00, -1.0878074e+00, -1.0906621e+00,
       -1.0852051e+00, -1.0849851e+00, -1.0818695e+00, -1.0868118e+00,
       -1.0891243e+00, -1.0907348e+00,  3.2251961e+01,  3.3004932e+01,
        3.2677197e+01,  3.1505594e+01,  3.3146744e+01,  3.3886578e+01,
        3.5589005e+01,  3.4615635e+01,  3.3954384e+01,  3.4045761e+01,
       -1.1563195e+00, -1.1529292e+00, -1.1577256e+00, -1.1683120e+00,
       -1.1555994e+00, -1.1515268e+00, -1.1394569e+00, -1.1460154e+00,
       -1.1508851e+00, -1.1498910e+00,  2.6758978e+01,  2.6443913e+01,
        2.6880514e+01,  2.5895849e+01,  2.6563721e+01,  2.6579687e+01,
        2.8525812e+01,  2.6900736e+01,  2.6039104e+01,  2.5820599e+01,
       -1.2086740e+00, -1.2143495e+00, -1.2039222e+00, -1.2146873e+00,
       -1.2092839e+00, -1.2106198e+00, -1.1885495e+00, -1.2090850e+00,
       -1.2196044e+00, -1.2220058e+00,  2.1447346e+01,  2.0996277e+01,
        2.2097307e+01,  2.1953789e+01,  2.2073139e+01,  2.1746624e+01,
        2.2527065e+01,  2.1361612e+01,  2.0256046e+01,  2.0144485e+01,
       -1.2942607e+00, -1.3082111e+00, -1.2816843e+00, -1.2865187e+00,
       -1.2803798e+00, -1.2885258e+00, -1.2922465e+00, -1.3184619e+00,
       -1.3569638e+00, -1.3610591e+00,  1.9878960e+01,  1.9577877e+01,
        2.0971403e+01,  2.0550493e+01,  2.0466436e+01,  2.0180622e+01,
        1.9070429e+01,  1.8039667e+01,  1.6435938e+01,  1.6456215e+01,
       -1.3468021e+00, -1.3619456e+00, -1.3168787e+00, -1.3362701e+00,
       -1.3362736e+00, -1.3334793e+00, -1.3737599e+00, -1.4063210e+00,
       -1.4747653e+00, -1.4589223e+00], dtype=float32)